In [1]:
import pandas as pd
import numpy as np
import os
import psycopg2

In [2]:
# Connect to your postgres DB
conn = psycopg2.connect(dbname='Yellow-Taxi', user='postgres', password='7466239', host='localhost', port='5432')

# Open a cursor to perform database operations
cur = conn.cursor()

## table for yellow taxi data

### i will insert the data into taxi_data table using the copy method directly in Pgadmin

In [19]:
# Create table in PostgreSQL
cur.execute('''
    CREATE TABLE IF NOT EXISTS taxi_data (
        VendorID INT,
        tpep_pickup_datetime TIMESTAMP,
        tpep_dropoff_datetime TIMESTAMP,
        passenger_count INT,
        trip_distance FLOAT,
        RatecodeID INT,
        store_and_fwd_flag CHAR(1),
        PULocationID INT,
        DOLocationID INT,
        payment_type INT,
        fare_amount FLOAT,
        extra FLOAT,
        mta_tax FLOAT,
        tip_amount FLOAT,
        tolls_amount FLOAT,
        improvement_surcharge FLOAT,
        total_amount FLOAT,
        congestion_surcharge FLOAT,
        airport_fee FLOAT
    )
''')
conn.commit()

## Climate data table

In [3]:
cur.execute('''
CREATE TABLE IF NOT EXISTS climate (
    station_id varchar,
    station_name varchar,
    date timestamp,
    latitude float,
    longitude float,
    elevation float,
    temperature float,
    dew_point_temperature float,
    station_level_pressure float,
    sea_level_pressure float,
    wind_direction float,
    wind_speed float,
    wind_gust float,
    precipitation float,
    relative_humidity float,
    wet_bulb_temperature float,
    pres_wx_mw1 varchar,
    pres_wx_mw2 varchar,
    pres_wx_mw3 varchar,
    pres_wx_au1 varchar,
    pres_wx_au2 varchar,
    pres_wx_au3 varchar,
    pres_wx_aw1 varchar,
    pres_wx_aw2 varchar,
    pres_wx_aw3 varchar,
    snow_depth float,
    visibility float,
    altimeter float,
    pressure_3hr_change float,
    sky_cover_1 varchar,
    sky_cover_baseht_1 float,
    sky_cover_2 varchar,
    sky_cover_baseht_2 float,
    sky_cover_3 varchar,
    sky_cover_baseht_3 float,
    precipitation_3_hour float,
    precipitation_6_hour float,
    precipitation_9_hour float,
    precipitation_12_hour float,
    precipitation_15_hour float,
    precipitation_18_hour float,
    precipitation_21_hour float,
    precipitation_24_hour float,
    remarks varchar
    )
''')
conn.commit()

In [4]:
cur.execute('''drop table if exists climate''')
conn.commit()

In [3]:
# Read data from PostgreSQL table into a pandas DataFrame
pd.read_sql_query('SELECT * FROM taxi_data limit 3', conn)

C:\Users\Mark Rozenberg\AppData\Local\Temp\ipykernel_16084\1481243530.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('SELECT * FROM taxi_data limit 3', conn)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1,0.97,1,N,161,141,2,9.3,1.0,0.5,0.0,0.0,1.0,14.3,2.5,0.0
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1,1.10,1,N,43,237,1,7.9,1.0,0.5,4.0,0.0,1.0,16.9,2.5,0.0
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1,2.51,1,N,48,238,1,14.9,1.0,0.5,15.0,0.0,1.0,34.9,2.5,0.0